
#Logo {

    height: 30rem;
}
body {

    background-color: #EFE3D8;
}

#contenedorLogin {

    background-color: white;

    padding: 3%;

}

.botonInicio {

    margin-top: 20px;
    margin-right: 20px;
    background-color: #FD4601;
}